extends layout.pug

include mixins/_commentsDisplay.pug

block content
	- content = result.content.replace(/\n?\r\n/g, '<br />' );
	p#article!= content
	h2 Commentaires
	if locals.user
		p 
			a(href=`/comment/add/${result.id}`) Ajouter un commentaire
	else
		p Connectez-vous pour ajouter ou liker un commentaire !
	+commentsDisplay(result_comments)
	
