extends layout.pug
block content
	ul
		- const result_reversed = result.reverse()
		each val in result_reversed
			li
				a(href=`/article/${val.id}`) #{val.title}
				|	
				if locals.user && locals.user.isadmin
					|	
					|[ 
					a(href=`/article/edit/${val.id}`) Editer #{val.isdraft ? 'le brouillon':'l\'article'}
					| 
					| ]
					|	
					|[ 
					a(href=`/article/del/${val.id}`) Supprimer #{val.isdraft ? 'le brouillon':'l\'article'}
					| 
					| ]

		else
			li Il n'y a pas d'article disponible
