extends layout.pug

include mixins/_commentsDisplay.pug

block content
	p Voir : 
		a(class='comments-menu', href='/comment') Mes commentaires
		|	
		a(class='comments-menu', href='/comment/othersliked') Mes commentaires likés
		|	
		a(class='comments-menu', href='/comment/iliked') Mes likes de commentaires
	
	+commentsDisplay(result)

