doctype html
html
	head
		title!= title
		style
			include style.css
	body
		#menu
			#menu-left
				a(class='menu', href='/article') Le blog
				if locals.user
					a(class='menu', href='/comment') Mes commentaires
					if locals.user.isadmin
						a(class='menu', href='/article/add') Ajout article
						a(class='menu', href='/article/draft') Les brouillons
			#menu-right
				if locals.user
					span.menu Connecté en tant que : #{locals.user.email}
					a(class='menu', href='/user/edit') Mes infos
					a(class='menu', href='/user/logout') Déconnexion
				else
					a(class='menu', href='/user/login') Connexion
					a(class='menu', href='/user/add') Créer un compte
		h1!= title
		if locals.flashes
			- const categories = Object.keys(locals.flashes)
			each category in categories
				each message in flashes[category]
					.flash(class=`flash--${category}`)
						p.flash__text!= message
		block content

