@font-face {
    font-family: mCharlesWright-Bold;
    src: url('/public/css/CharlesWright-Bold.ttf');
}

body {
  font-family: mCharlesWright-Bold;
	background-color: #131313;
	color: #d7d5ca;
	max-width: 75%;
	margin: 15px auto;
}

a {
	color: #62605d;
}

a:hover {
	color: #ffa71a;
}

#menu {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

#menu a {
	text-decoration: none;
	font-weight: 700;
	padding-right: 8px;
}

#menu a:hover {
	animation-name: change-of-color;
  animation-duration: 4s;
	color: yellow;
}

@keyframes change-of-color {
	from {color: #ffa719;}
	to {color: yellow;}
}

.menu {
	display: inline-block;
	flex: 1;
	margin: 0 5px;
}


h1 {
	background-color: #ffa719;
	color: #231f20;
	text-transform: uppercase;
	padding: 25px 10px;
	animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 3%;
  }

  to {
    margin-right: 0%;
  }
}


h2 {
	margin-top: 50px;
}

h3.comment {
	background-color: #1c1c1c;
	padding: 5px;
}

label {
	padding-top: 10px;
	display: block;
}

/* article animation */
#article {
	background-color: #434343;
	color: #bcb3a2;
	padding: 10px;
}

textarea {
	width: 100%;
	height: 250px;
}

a.comments-menu {
	padding-right: 8px;
}
