extends layout.pug
block content
	p!= flash
	form(method='POST' action='')
		div
			label(for='email') Email :
			input(type='email' id='email' name='email' required)
		div
			label(for='password') Password:
			input(type='password' id='password' name='password' required)
		div
			input(type='submit' value='Sésame, ouvre-toi')
	p Accès admin - Email : prenom@nom.fr, Password : password
	p Accès utilisateur - Email : monemail@yahoo.fr, Password : 1234


