mixin articleForm(article = {})
	form(method='POST' action='')
		div
			label(for='title') Titre de l'article
			input(type='text' name='title' value=article.title required)
		div
			label(for='content') Texte de l'article
			textarea(name='content' required)= article.content
		div
			span Brouillon ?
			input(type='checkbox' name='isdraft' value='true' checked=(Boolean(article.isdraft)))
		div
			input(type='submit' value=(!article._id ? 'Créer l\'article':'Editer l\'article'))
