mixin commentsDisplay(comments = {})
	each val in comments
		h3.comment #{val.title}
			|	
			if (locals.user && val.user.email === locals.user.email)
				span [
					a(href=`/comment/edit/${val.id}`) Editer
				|]
			else 
				span [par #{val.user.email}
					if locals.user
						|	-
						|	
						- const tab_join = [...val.likes].join(' - ')
						- if (tab_join.includes(locals.user._id))
							| Liké !
						- else
							a(href=`/comment/like/${val.id}`) Liker
				|]
		p= val.content
		- if (val.likes.length >= 1)
			p #[em Commentaire liké par :]
				each like in val.likes
					|	
					| #[em #{like.email}]
			
	else 
		p Aucun commentaire trouvé
