mixin commentForm(comment = {})
	form(method='POST' action='')
		div
			label(for='title') Titre du commentaire
			input(type='text' name='title' value=comment.title required)
		div
			label(for='content') Texte du commentaire
			textarea(name='content' required)= comment.content
		div
			input(type='submit' value=(!comment._id ? 'Ajouter le commentaire':'Editer le commentaire'))
