mixin userForm(user = {})
	if user.avatar
		p Votre avatar actuel :
		img(src=user.avatar alt="avatar")
	form(method='POST' action='' enctype='multipart/form-data')
		div
			label(for='lastname') Nom :
			input(type='text' name='lastname' id='lastname' value=user.lastname required)
		div
			label(for='firstname') Prénom :
			input(type='text' name='firstname' id='firstname' value=user.firstname required)
		div
			label(for='email') Email :
			input(type='email' name='email' id='email' value=user.email required)
		div
			label(for='password') Mot de passe :
			input(type='password' name='password' id='password' required)
		div
			label(for='img') Avatar :
			input(type='file' name='img' id='img')
		div
			input(type='submit' value=(!user._id ? 'Créer le compte':'Editer les infos'))
